<%- include("partials/headerHomepage.ejs") %>
<video autoplay playsinline muted loop class="homepageVideo">
    <source media="(max-width: 1023px)" src="assets/wheretowatch-low-bitrate-portrait.mp4" type="video/mp4"/>
    <source media="(min-width: 1024px)" src="assets/wheretowatchbackground-low-bit-landscape.mp4" type="video/mp4"/>
</video>
<div class="pageContainer d-flex justify-content-center align-items-center">
    <div id="searchContainer">
        <div><h1>Where to Watch <span style="color: rgb(131, 9, 231);" id="headerTitle">The Walking Dead<span style="color: white; white-space: pre;"> ?</span></span></h1></div>
        <h3>Streaming sucks - We make it easy to find your favorite shows and movies</h3>
        <form class="d-flex flex-column justify-content-center align-items-center" action="/search" method="post">
            <input type="text" id="searchBar" name="searchTerm" placeholder="Name of Show or Movie">
            <input type="submit" id="submitButton" value="Search">
        </form>
        <% if(!locals.auth) { %>
        <div class="d-flex gap-5 mt-3 justify-content-center align-items-center"> <a class="signUpButton" href="/signup">Sign Up & Make a Watchlist</a> <a class="loginButton" href="/login">Login</a></div>
        <% } %>

    </div>
</div>





<script src="/scripts/titleScrollHomepage.js"></script>

