<%- include("partials/header.ejs") %>
        
<div id="resultsContainer">
    <div class="result d-flex">
        <div class="posterArea"></div>
        <div class="infoArea"></div>
    </div>
</div>
