html {
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}

#headerTitle {
    display: inline-flex;
}

#headerTitleProvider {
    display: inline-flex;
}

.headerShift {
    animation: headerTitleAnimation 5s infinite;
}

@keyframes headerTitleAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    49% {
        transform: translateY(-30px);
        opacity:0;
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
        opacity:1;
    }
}

#searchContainer {
    display: flex;
    flex-direction: column;
}

#searchBar {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid rgb(131, 9, 231);
    border-radius: 7px;
    height: 50px;
}

#submitButton {
    width: 50%;
    border-radius: 7px;
    height: 50px;
    background-color: rgb(131, 9, 231);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.loginButton {
    text-decoration: none;
    color: rgb(131, 9, 231);
    border-radius: 7px;
    background-color: #ececec;
    padding: 5px;
    font-weight: bold;
    border: 2px solid rgb(131, 9, 231);
    width: 20%;
    font-size: 13px;
    text-align: center;
    transition: background-color 500ms, color 500ms;
}

.loginButton:hover {
    background-color: rgb(131, 9, 231);
    color: white;
}

.loginButtonSignUp {
    text-decoration: none;
    color: black;
    border-radius: 7px;
    background-color: #ececec;
    padding: 5px;
    font-weight: bold;
    border: 2px solid black;
    width: 25%;
    font-size: 13px;
    text-align: center;
    transition: background-color 500ms, color 500ms;
}

.loginButtonSignUp:hover {
    background-color: black;
    color: white;
}

.signUpButton {
    text-decoration: none;
    color: black;
    border-radius: 7px;
    background-color: #ececec;
    padding: 5px;
    font-weight: bold;
    border: 2px solid black;
    width: 20%;
    font-size: 13px;
    text-align: center;
    transition: background-color 500ms, color 500ms;
}

.signUpButton:hover{
    background-color: black;
    color: white;
}

#resultsContainer {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 50px;

}

.result {
    width: 800px;
    height: 150px;
    /* background-color: red; */
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 10px -10px rgb(125, 18, 187);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.result-filter {
    width: 800px;
    height: 200px;
    border-radius: 8px;

    backdrop-filter: blur(10px);
    z-index: 0;
}

.posterArea {
    height: 100%;
    width: 15%;
    /* background-color: green; */
    background-repeat: no-repeat;
    background-position: start;
    background-size: contain;
    border-radius: 8px;

}

.poster {
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.infoArea {
    height: 100%;
    width: 70%;
    /* background-color: blue; */
}

.infoArea p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis; 
    overflow: hidden;
    


}

#tvContainer{
    height: 500px;
    width: 1000px;
    background-color: gold;
}


/*--------------------------------------*/

#detailContainer {
    height: 100%;
    width: 100%;
    background-color: blue;
}

#heroContainer {
    border-bottom: 5px solid rgb(125, 18, 187);
}

#hero {
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#heroPoster {
    height: 375px;
    width: 250px;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 5px black}

#heroInfo{
    height: 500px;
    width: 50%;
}

#heroContainer{
    color: white;
}

#heroTitle{
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding: px;
    width: fit-content;
}

.heroGenre {
    width: fit-content;
    height: fit-content;
    background-color: rgb(125, 18, 187);
    border-radius: 8px;
    padding: 3px;
    font-weight: bold;
}

#heroTagline{
    font-style: italic;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding: px;
    width: fit-content;
}

#heroDescription {
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding: 3px;
}

#providerDetailName {
    color: rgb(125, 18, 187);
}

.provider{
    height: 85px;
    width: 85px;
    border-radius: 4px;
    margin-top: 2px;
}

.providerBlocks {
    width: 92px;
    height: 160px;
    font-size: 14px;
    text-wrap: wrap;
    border: 2px solid rgb(125, 18, 187);
    font-weight: bold;
    color: white;
    background-color: rgb(125, 18, 187);
    border-radius: 8px;
    justify-content: start;
    align-items: center;
    text-align: center;
}

#like{
    width: 32px;
    height: 32px;
    background-image: url('../assets/like.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#dislike{
    width: 32px;
    height: 32px;
    background-image: url('../assets/dislike.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*--------------------------------------------*/

.signUpArea {
    border-radius: 8px;
    background-color: rgba(125, 18, 187, 0.2);
    width: 100%;
    height: fit-content;
    padding: 10px;
}

#emailBar {
    width: 50%;
}

#pwdBar {
    width: 50%;
}

#confirmPwdBar {
    width: 50%;
}


#registerButton {
    width: 15%;
    border-radius: 7px;
    height: 50px;
    background-color: rgb(131, 9, 231);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#loginButton {
    width: 15%;
    border-radius: 7px;
    height: 50px;
    background-color: rgb(131, 9, 231);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#loginContainer {
    height: 100vh;
    width: 80vh;
}