
body,html {
    background-color: #ececec;
    height: 100vh;
}

#headerLogo {
    height: 50px;
    width: 50px;
    background-image: url('/assets/wtw-logo-black.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#headerLogoHome {
    height: 50px;
    width: 50px;
    background-image: url('/assets/wtw-logo-white.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-color{
    background-color: rgba(125, 18, 187,0.5);
}

.border-color {
    --bs-border-color: rgb(125, 18, 187);
}

.nav-animation {
    color: white;
    font-weight: bold;
}

.titleWrap{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
}

#title{
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 40px;
}

#pfpNav {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#headerTitle {
    display: inline-flex;
}

#headerTitleProvider {
    display: inline-flex;
}

.headerShift {
    animation: headerTitleAnimation 5s infinite;
}

@keyframes headerTitleAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    49% {
        transform: translateY(-30px);
        opacity:0;
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
        opacity:1;
    }
}

.pageContainer{
    height: 90vh;
}

.homepageVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    opacity: 0.9; 
    height: 100vh;
    width: 100%;
    object-fit: fill;
    
}

#searchContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    z-index: 3;
    color: white;
    
}

#signUpContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70vh;
}

#loginContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70vh;
}

#userContainer{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70vh;
}

#resultsContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70vh;
    justify-content: start;
    align-items: center;

}

#providerArea{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#searchContainerSearch{
    width: 50%;
}

#searchBar {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 2px solid rgb(131, 9, 231);
    border-radius: 7px;
    height: 50px;
}

#searchBarOnSearch {
    width: 50%;
    height: 30px;
    border: 2px solid rgb(131, 9, 231);
    border-radius: 7px;
}

#submitButton {
    width: 50%;
    border-radius: 7px;
    height: 50px;
    background-color: rgb(131, 9, 231);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#submitButtonOnSearch {
    width: fit-content;
    height: fit-content;
    background-color: rgb(131, 9, 231);
    color: white;
    font-weight: bold;
    border-radius: 7px;
}

.loginButton {
    text-decoration: none;
    color: rgb(131, 9, 231);
    border-radius: 7px;
    background-color: #ececec;
    padding: 5px;
    font-weight: bold;
    border: 2px solid rgb(131, 9, 231);
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    text-align: center;
    transition: background-color 500ms, color 500ms;
}

.loginButton:hover {
    background-color: rgb(131, 9, 231);
    color: white;
}

.loginButtonSignUp {
    text-decoration: none;
    color: black;
    border-radius: 7px;
    background-color: #ececec;
    padding: 5px;
    font-weight: bold;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    text-align: center;
    transition: background-color 500ms, color 500ms;
}

.loginButtonSignUp:hover {
    background-color: black;
    color: white;
}

.signUpButton {
    text-decoration: none;
    color: black;
    border-radius: 7px;
    background-color: #ececec;
    padding: 5px;
    font-weight: bold;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
    text-align: center;
    transition: background-color 500ms, color 500ms;
}

.signUpButton:hover{
    background-color: black;
    color: white;
}


/* adjust size per screen size, overflow y on result? */


.result {
    width: 80%;
    height: 150px;
    /* background-color: red; */
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 10px -10px rgb(125, 18, 187);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.result-filter {
    width: 800px;
    height: 200px;
    border-radius: 8px;

    backdrop-filter: blur(10px);
    z-index: 0;
}

.posterArea {
    height: 100%;
    width: 17.5%;
    /* background-color: green; */
    background-repeat: no-repeat;
    background-position: start;
    background-size: contain;
    border-radius: 8px;

}

.poster {
    height: 100%;
    width: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}

.infoArea {
    height: 100%;
    width: 70%;
    overflow-y: hidden;
    /* background-color: blue; */
}

.infoArea p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    text-overflow: ellipsis; 
    overflow: hidden;

}

#tvContainer{
    height: 500px;
    width: 1000px;
    background-color: gold;
}


/*--------------------------------------*/

#detailContainer {
    height: 100%;
    width: 100%;
    background-color: blue;
}

#heroContainer {
    border-bottom: 5px solid rgb(125, 18, 187);
    height: fit-content;
}

#hero {
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#heroPoster {
    height: 375px;
    width: 250px;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 0px 0px 5px 5px black;
}

#heroInfo{
    height: 500px;
    width: 50%;
}

#heroContainer{
    color: white;
}

#heroTitle{
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding: px;
    width: fit-content;
}

.heroGenre {
    width: fit-content;
    height: fit-content;
    background-color: rgb(125, 18, 187);
    border-radius: 8px;
    padding: 3px;
    font-weight: bold;
}

#heroTagline{
    font-style: italic;
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding: px;
    width: fit-content;
}

#heroDescription {
    background-color: rgba(0,0,0, 0.5);
    border-radius: 5px;
    padding: 3px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
    text-overflow: ellipsis; 
    overflow: hidden;
}


#providerDetailName {
    color: rgb(125, 18, 187);
}

.provider{
    height: 85px;
    width: 85px;
    border-radius: 4px;
    margin-top: 2px;
}

.providerBlocks {
    width: 92px;
    height: 160px;
    font-size: 14px;
    text-wrap: wrap;
    border: 2px solid rgb(125, 18, 187);
    font-weight: bold;
    color: white;
    background-color: rgb(125, 18, 187);
    border-radius: 8px;
    justify-content: start;
    align-items: center;
    text-align: center;
}

#like{
    width: 32px;
    height: 32px;
    background-image: url('../assets/like.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    transition: background-image 250ms;

}

#like:hover {
    background-image: url('../assets/like-purple-outline.png');
}



#dislike{
    width: 32px;
    height: 32px;
    background-image: url('../assets/dislike.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    background-color: transparent;
    transition: background-image 250ms;
}

#dislike:hover {
    background-image: url('../assets/dislike-purple-outline.png');
}

#watchlist{
    height: fit-content;
    width: fit-content;
    background-color: #7d12bb;
    color: white;
    border-radius: 8px;
    font-weight: bold;    
    border: 2px solid black;
    box-shadow: black 5px -5px;
    text-decoration: none;
    transition: box-shadow 1s, border 1s;
}

#watchlistStatus{
    height: 25px;
    width: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    filter: drop-shadow(0px 1000px 0 white);
    transform: translateY(-1000px);
    transition: background-image 500ms;
}

#watchlist:hover {
    box-shadow: black 2px -2px;
    border: 2px solid white;
}


/*--------------------------------------------*/

.signUpArea {
    border-radius: 8px;
    background-color: rgba(125, 18, 187, 0.2);
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.loginArea {
    border-radius: 8px;
    background-color: rgba(125, 18, 187, 0.2);
    width: 100%;
    height: fit-content;
    padding: 10px;
}

#nameBar {
    width: 50%;
}

#emailBar {
    width: 50%;
}

#pwdBar {
    width: 50%;
}

#confirmPwdBar {
    width: 50%;
}


#registerButton {
    width: fit-content;
    border-radius: 7px;
    height: fit-content;
    background-color: rgb(131, 9, 231);
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 500ms;
}

#registerButton:hover{
    background-color: black;
}

#loginButton {
    width: fit-content;
    border-radius: 7px;
    height: fit-content;
    background-color: rgb(131, 9, 231);
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/*----------------------------------------------------------*/

.pfp {
    height: 256px;
    width: 256px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid rgb(131, 9, 231);
  }

@media screen and (max-width: 400px){


      .result {
        width: 80%;
        height: 150px;
        /* background-color: red; */
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 10px -10px rgb(125, 18, 187);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
    
    }

    .posterArea {
        height: 100%;
        width: 40%;
        /* background-color: green; */
        background-repeat: no-repeat;
        background-position: start;
        background-size: contain;
        border-radius: 8px;
    
    }

    #searchContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        
    }
}

@media screen and (max-width: 576px){

    .pfp {
        height: 128px;
        width: 128px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 2px solid rgb(131, 9, 231);
      }

    .pfp {
        height: 128px;
        width: 128px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 2px solid rgb(131, 9, 231);
      }

      .result {
        width: 80%;
        height: 150px;
        /* background-color: red; */
        border: 1px solid black;
        border-radius: 8px;
        box-shadow: 10px -10px rgb(125, 18, 187);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
    
    }

    .posterArea {
        height: 100%;
        width: 40%;
        /* background-color: green; */
        background-repeat: no-repeat;
        background-position: start;
        background-size: contain;
        border-radius: 8px;
    
    }

    #heroPoster {
        height: 187.5px;
        width: 125px;
        border-radius: 8px;
        border: 2px solid white;
        box-shadow: 0px 0px 5px 5px black;
        
    }

    #searchContainer {
        display: flex;
        flex-direction: column;
        width: 80%;
        
    }
    
}


  #pfpChange {
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
    background-color: rgb(131, 9, 231);
    color: white;
    font-size: 14px;
  }


  .watchlistPoster{
    height: 187.5px;
    width: 125px;
    border-radius: 8px;
    border: 2px solid white;
    box-shadow: 0px 0px 2px 2px black;
    transition: border 500ms;
  }

  .watchlistPoster:hover{
    border: 3px solid #8309e7;
  }

  #watchlistArea{
    
  }

  #watchlistCarousel{
    width: 100%;
    height: 225px;
    overflow-x: auto;
  }

  #likeCarousel{
    width: 100%;
    height: 225px;
    overflow-x: auto;
  }

#subscriptionArea {
    width: 70%;
    height: 180px;
    overflow-x: auto;
}

#adsArea {
    width: 70%;
    height: 180px;
    overflow-x: auto;
}

#rentArea {
    width: 70%;
    height: 180px;
    overflow-x: auto;
}

#purchaseArea {
    width: 70%;
    height: 180px;
    overflow-x: auto;
}

/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {

}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}
*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #7D12BB;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #AA19FF;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #AA19FF;
}
